.l-board {
	flex: 1 1 auto;
	background-color: #f0f0f0;
	position: relative;
	padding-top: 64px;
	overflow-x: auto;

	&.m--horizontal {
		padding-top: 0;
		flex: 1 1 auto;
		display: flex;

		.categoriesWrapper {
			flex-direction: row;
		}
	}

	&:not(.m--horizontal) {
		.categoriesWrapper {
			overflow: visible;
		}

		.contentWrapper {
			@include mobile {
				padding: 0;
			}
		}
	}

	.boardLoader {
		position: absolute;
		top: 0;
		left: 0;
		z-index: 9998;
		
		width: 100%;
		height: 100%;

		display: flex;
		justify-content: center;
		align-items: center;
		background-color: #fefefe;

		color: $secondaryColor;
		font-size: 3rem;
		font-weight: bold;
	}

	.categoriesWrapper {
		display: flex;
		padding: 0px;
		max-width: 100%;
		overflow-x: auto;
		flex-direction: column;

		@include mobile {
			scroll-snap-type: x mandatory;
		}
	}
}
